@font-face {font-family:'FontAwesome';
src:url("/font/fontawesome-webfont.eot");
src:url("/font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),url("/font/fontawesome-webfont.woff") format("woff"),url("/font/fontawesome-webfont.ttf") format("truetype"),url("/font/fontawesome-webfont.svgz#FontAwesomeRegular") format("svg"),url("/font/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
font-weight:normal;
font-style:normal
}
.jumbotron {
  margin:60px 0 40px 0;
  text-align:center;
}

h1 {
  color: #888;
  font-size: 4em;

}
h2 {
  color: #999;
}
body {

    color: #444;
      background: #eee url('http://prometeotdf.org/cream_dust.png');
    }
    a {
        outline: none;
            text-decoration: none;

          }
          a, a:active, a:visited {
              color: #999;
                text-decoration: none;
              }
              a:hover {
                  color: #666;
                    text-decoration: none;
                  }

                  .container-narrow {
                    margin:0 auto;
                    max-width:700px;
                    padding:20px;
                  }
                  .well {
                      background: #fff;
                    }
